<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzo2o.orders.history.mapper.StatDayMapper">


    <select id="aggregationByIdRange" resultType="com.jzo2o.orders.history.model.domain.StatDay">
        SELECT
            IFNULL(sum( effective_order_num ),0) AS effective_order_num,
            IFNULL(sum( cancel_order_num ),0) AS cancel_order_num,
            IFNULL(sum( close_order_num ),0) AS close_order_num,
            IFNULL(sum( effective_order_total_amount ),0) AS effective_order_total_amount,
            IFNULL(sum( total_order_num ),0) AS total_order_num
        FROM
        stat_day
        WHERE
        id >= #{minId}
        <![CDATA[  AND id <= #{maxId}]]>
    </select>
</mapper>
