<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzo2o.foundations.mapper.ServeMapper">


    <select id="queryServeListByRegionId" resultType="com.jzo2o.foundations.model.dto.response.ServeResDTO">
        select
            serve.id,
            st.id serve_type_id,
            st.name serve_type_name,
            si.id serve_item_id,
            si.name serve_item_name,
            serve.sale_status,
            si.reference_price,
            serve.region_id,
            serve.price,
            serve.is_hot,
            serve.create_time,
            serve.update_time
        from serve
                 inner join serve_item si on serve.serve_item_id = si.id
                 inner join serve_type st on si.serve_type_id = st.id
        where region_id = #{regionId}
    </select>
</mapper>
